html {
    font-family:'MS Gothic','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #FFFBEB;
    margin: 0;
    border: 1px solid #c7c7c7;
}

::placeholder {
    color: #C65911;
}
.bo {
    border: 1px solid #645e5e;
    border-radius: 4px;
}
/*login*/
.container {
    width: 100%;
    color: #C65911;
    margin: 0 auto;
}
.div-l1 {
    float: left;
    width: 70%;
    height: 100%;
    position:fixed;
}
.div-r1 {
    float: right;
    width: 30%;
    height: 50%;
    position: fixed;
    margin-left:70%;
}
    .div-r1 .div-r-c1 {
        background-color: #fbf9f9;
        margin: 150px 20px 20px 0;
        text-align: center;
        border-style: outset;
        border-radius: 20px;
        width: 250px;
        height: 430px;
        box-shadow: -7px -7px 5px #cac7c7,7px 7px 5px #cac7c7;
        position: fixed;
    }
.button{
    background-color: #F8CBAD; /* cam do */
    border: none;
    color: #C65911;
    text-align: center;
    width: 70px;
    height: 30px;
    border-style: initial;
    border-radius:2px;
}

.input, .textarea {
    border-radius: 4px;
    height: 25px;
    border: 1px solid #C65911;
    padding: 0.25rem;
}
.ip-search{
    border-radius:4px;
    width:150px;
    height:30px;
}
    .ip-search .top {
        width: 30%;
        margin-left: 90px;
        margin-top: 115px;
    }
.date {
    width: 135px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid #645e5e;
    font-family: 'MS Gothic';
    font-size: 18px;
}
.hour {
    width: 110px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid #645e5e;
    font-family: 'MS Gothic';
    font-size: 18px;
}
/*21*/
.header{
    width:100%; 
    height:80px;
    border-bottom:1px solid #c7c7c7;
}
.logo {
    float: left;
    width: 60px;
    height: 60px;
    background-image: url(../../../image/ico_bep.png);
    margin: 10px auto;
}
.title {
    font: 25px 'MS Gothic';
    color: #C65911;
    font-weight: bold;
    height: 30px;
    width: 200px;
    float:left;
    margin-top:40px;
}
.top-info {
    float: right;
    width: 48px;
    height: 48px;
    background-image: url(../../../image/user.png);
    margin: 25px 20px 20px 0;
    position: relative;
}
.content-area {
    margin: 1px;
    width: 100%;
    color: #C65911;
    margin: 0 auto;
    height:700px;
}
.left-col {
    float: left;
    width: 220px; 
    height: 700px;
    border: 1px solid #c7c7c7;
    position:fixed;
}
    .left-col .nav-links {
        height:600PX;
    }
        .left-col .nav-links li {
            list-style: none;
            transition: all 0.4s ease;
        }
            .left-col .nav-links li:hover {
                background: #FCE4D6;
                list-style: none;
                transition: all 0.4s ease;
            }
            .left-col .nav-links li .icon-link {
                display: flex;
                align-items: center;
                justify-content:space-between;
            }
            .left-col .nav-links li i {
                font-size: 50px;
                height:50px;
                line-height:50px;
            }
            .left-col .nav-links li a {
                text-decoration: none;
                display: flex;
                align-items: center;
            }
                .left-col .nav-links li a .link_name {
                    font-size: 20px;
                    font-weight: 400;
                    color: #f19a82;
                }
            .left-col .nav-links li .sub-menu {
                padding: 0px 0px 0px 48px;
                margin-top: -10px;
                background: #FFFBEB;
            }
            .left-col .nav-links li .sub-menu a{
                padding: 5px 0;
                font-size:17px;   
                white-space:nowrap;  
            }
.right-col {
    float: right;
    width: 88%;
    height: 700px;
    border: 1px solid #c7c7c7;
    background-color: #fff;
    margin-left: 200px;
    padding: 0px, 10px;
    position: fixed;
}
#div-footer {
    height: 80px;
    color: #C65911;
    margin-left: 200px;
    position:initial;
}
.div-footer {
    width: 100%;
    height: 80px;
    color: #C65911;
    align-content: center;
    margin-left: 200px;
    padding: 20px;
    clear: both;
    position: absolute;
}
/*1 row in search*/
.div-search1 {
    width: 600px;
    height: 80px;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    margin-left: 2px;
    margin-top: 2px;
    position: absolute;
}
/*2 row in search*/
.div-search2 {
    width: 600px;
    height: 110px;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    margin-left: 2px;
    margin-top: 2px;
    position: absolute;
}
/*3 row in search*/
.div-search3 {
    width: 600px;
    height: 140px;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    margin-left: 2px;
    margin-top: 2px;
    position: absolute;
}
.search-content-m {
        
        left: 220px;
        height: 45px;
        width:590px;
        margin-top: 0;
    }
.search-content-m .lbl1 {
            margin-top: 6px;
            left: 220px;
            width:110px;
            position: fixed;
        }
    .search-content-m .btn1 {
        float: right;
        height: 30px;
        margin-bottom:120px;
    }
    .search-content-m .btn2 {
        float: right;
        padding: 0 20px 100px 0;
        height: 30px;
    }
.search-content-m .selected {
            margin-top: 25px;
            margin-left: 120px;
            position: relative;
            top: 0px;
            left: 0px;
            width: 307px;
            height: 30px;
        }
.search-content-m .selected select {
                top: 115px;
                width: 300px;
                height: 30px;
                border-radius:4px;
            }
.div-grid1 {
    width: 1000px;
    height: 610px;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    margin-left: 2px;
    margin-top: 85px;
    position: absolute;
}
.div-grid2 {
    width: 850px;
    height: 550px;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    margin-left: 2px;
    margin-top: 115px;
    position: absolute;
}
.div-grid3 {
    width: 850px;
    height: 550px;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    margin-left: 2px;
    margin-top: 145px;
    position: absolute;
    float:left;
}
.previous {
        float: left;
        padding: 1px 1px 0 0;
        margin-left: 2px;
        border-radius:4px;
    }
.next {
        float: right;
        margin-right: 2px;
        border-radius: 4px;
    }
.pagedivided {
        list-style: none;
        text-align:center;
    width: 576px;
}
.tile.is-parent {
    padding: .5rem;
}

.tile.is-vertical {
    flex-direction: column;
}
.pagination {
    font-size: 1rem;
    margin: -.25rem;
}
.pagination, .pagination-list {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.table {
            border-collapse: collapse;
            border: 1px solid #c7c7c7;
            align-items: center;
        }
.table th{
    border: 1px solid #c7c7c7;
}
.text-b {
    position: relative;
    width: 400px;
    height: 28px;
    border: 1px solid #645e5e;
    border-radius: 4px;
}
.div-menu-product {
    width: 420px;
    border-radius: 4px;
    margin-left: 20px;
    position: absolute;
}
    .div-menu-product .div-chosen {
        border-radius: 4px;
        width: 50%;
        float: left;
        margin: 4px 0 4px 4px;
    }
    .div-menu-product .div-list {
        border-radius: 4px;
        margin: 4px 4px 4px 0;
        float: right;
    }
/*32*/
.div-field {
    width: 800px;
    height: 670px;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    margin-left: 2px;
    margin-top: 2px;
    padding:0.75rem;
}
.content {
        width: 630px;
        border: 1px solid #c7c7c7;
        border-radius: 4px;
 }
.field {
    margin: 2px 0 0 2px;
    padding:0.5rem;
}
    .field .col-l {
        float: left;
        width:18%;
        margin:10px 0 0 3px;
    }
.lable-c {
        height: 30px;
        width: 80px;
    }
.input-c1 {
        margin: 2px 0 0 20px;
        height: 25px;
        width: 100px;
        position:initial;
    }
.input-c2 {
    margin: 2px 0 0 20px;
    height: 25px;
    width: 250px;
    position: initial;
}
.hi-25 {
    height: 25px;
}
.pad-75{
    padding:0.75rem;
}
.pad-25 {
    padding: 0.25rem;
}
.mar-l2{
    margin-left:20px;
}
.select-c {
        margin: 2px 0 0 20px;
        width: 200px;
        height: 30px;
    }
.image {
    float:right;
    width: 150px;
    height: 150px;
    border-radius: 2px;
    border: 1px solid #c7c7c7;
    background:#c7c7c7;
    padding:0.25rem 0.25rem;
}
.button-end-center {
    width: 300px;
    height: 50px;
    border-radius: 4px;
    margin:8px 0 0 250px;
    position: fixed;
}
.head {
    width: 800px;
    height: 143px;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    position:absolute;
}
.div-export {
    float: right;
    width: 150px;
    border-radius: 4px;
    border: 1px solid #c7c7c7;
}
.add-row {
    width: 80px;
    height: 30px;
    padding:2px 2px;
}
.sum {
    width: 200px;
    height: 50px;
    padding: 2px 2px;
    margin-top:370px;
    float:right
}
.sum .lable-l{
    float:left;
    width:40%;
    position:inherit;
}
    .sum .lable-m {
        width: 50%;
    }
    .sum .lable-r {
        float: right;
    }
.csv-btn {
    background: green;
    color: aliceblue;
    width: 100px;
    margin-left: 20px;
    border-radius: 4px;
    border: none;
}
.td {
    color:#000000;
    border:1px solid #c7c7c7;
}